h1 {
  font-family: Sans-Serif;
}
h2 {
  font-family: Sans-Serif;
}
span {
  color: #FEC200;
}
.ultop {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.lia, .lib, .lic, .lid, .lie {
  display: block;
  float: left;
  padding: 10px;
  font-family: Sans-Serif;
  font-weight: 900;
  font-size: 20px;
}
a {
  color: blue;
}
.lia, .lib, .lic, .lid {
  border-right: 3px solid;
}
p {
  font-family: Times New Roman;
  text-align: justify;
  line-height: 1.5;
}
li {
  font-family: Times New Roman;
}
footer {
  font-style: italic;
  opacity: 0.6;
}